.admin {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 71px auto auto;
  grid-template-areas:
    "navigation"
    "content"
    "footer";
}

.admin > .content {
  grid-area: content;
}

.admin > .navigation {
  grid-area: navigation;
  color: rgba(229, 229, 229, 1);
  background-color: rgba(38, 38, 38, 1);
  height: fit-content;
}

.admin > .navigation > ul {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.admin > .navigation > ul > li > a > svg {
  margin-top: 7px;
}

.admin > .footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .admin {
    grid-template-columns: auto 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "navigation content"
      "navigation footer";
  }

  .admin > .navigation {
    height: auto;
  }

  .admin > .navigation > ul {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .admin {
    grid-template-columns: auto 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "navigation content"
      "navigation footer";
  }

  .admin > .navigation {
    height: auto;
  }

  .admin > .navigation > ul {
    flex-direction: column;
  }
}
