.ModalContainer {
  width: 50%;
     
  & > .ModalInner {
    box-shadow: none;
    & > .ModalContent {
      box-shadow: none;
      & > .ModalBody {
        margin-bottom: 1rem;
      }
      & > .ModalHeader {
        max-width: 100%;
        & > h1 {
          padding-left: 0px;
        }
      }
      & > .ModalBody {
        width: 100%;
      }
    }
  }
}